body{
	margin: 0px;
	padding: 0px;
}

.button {
	border-radius: 2px;
}

.button a {
    padding: 8px 12px;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.tab-data-one{
	padding: 10px 0 30px 0;
}
.tab-data-two{
	background-color: #ffffff; 
	padding: 40px 0 30px 0; 
	color: #153643; 
	font-size: 28px; 
	font-weight: bold; 
	font-family: Arial, sans-serif;
}
.tab-data-three{
	color: #153643; 
	font-family: Arial, sans-serif; 
	font-size: 24px;
}
.tab-data-four{
	padding: 15px 0 30px 0; 
	color: #153643; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	line-height: 20px;
}
.tab-data-five{
	padding: 20px 0 30px 0; 
	color: #153643; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	line-height: 20px;
}
.tab-data-six{
	padding: 20px 0 30px 0; 
	color: #153643; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	line-height: 20px;
}
.tab-data-seven{
	padding: 20px 0 30px 0; 
	color: #153643; 
	font-family: Arial, sans-serif; 
	font-size: 16px; 
	line-height: 20px;
}
.tab-data-eight{
	background-color: #e33667; 
	padding: 30px 30px 30px 30px;
}
.tab-data-nine{
	color: #ffffff; 
	font-family: Arial, sans-serif; 
	font-size: 14px;
}
.tab-row{
	height: 120px; 
	border-bottom: 2px solid #e33667;
}